{% extends 'base.html.twig' %}

{% block header_img %}<img class="slide-image" src="{{ asset('img/todolist_content.jpg') }}" alt="todo list">{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            {{ form_start(form, {'action': path('task_create')}) }}
                {{ form_widget(form) }}

                <button type="submit" class="btn btn-success">Ajouter</button>
            {{ form_end(form) }}
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex flex-wrap">
            <a href="{{ path('task_list_all') }}" class="btn btn-secondary mr-2 mt-2">Consulter la liste de toutes les tâches</a>
            <a href="{{ path('task_list', {'isDone': 'false'}) }}" class="btn btn-secondary mr-2 mt-2">Consulter la liste des tâches à faire</a>
            <a href="{{ path('task_list', {'isDone': 'true'}) }}" class="btn btn-secondary mt-2">Consulter la liste des tâches terminées</a>
        </div>
    </div>
{% endblock %}
