{% extends 'base.html.twig' %}

{% block title %}Création d'un utilisateur{% endblock %}

{% block connection %}
    <div class="row">
        <div class="col-12 d-flex justify-content-between flex-wrap">                
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('user_list') }}" class="btn btn-secondary mt-2">Liste des utilisateurs</a>
                <a href="{{ path('logout') }}" class="btn btn-danger mt-2">Se déconnecter</a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block header_title %}<h1 class="my-4">Créer un utilisateur</h1>{% endblock %}
{% block header_img %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            {{ form_start(form, {'action' : path('user_create')}) }}
                {{ form_widget(form) }}

                <button type="submit" class="btn btn-success pull-right">Ajouter</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
