{% extends 'base.html.twig' %}

{% block connection %}
    <div class="row">
        <div class="col-12 d-flex justify-content-between flex-wrap">                
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('user_list') }}" class="btn btn-secondary mt-2">Liste des utilisateurs</a>
                <a href="{{ path('logout') }}" class="btn btn-danger mt-2">Se déconnecter</a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block header_title %}<h1 class="my-4">Modifier <strong>{{ user.username }}</strong></h1>{% endblock %}
{% block header_img %}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12">
            {{ form_start(form, {'action' : path('user_edit', {'id': user.id})}) }}
                <div class="form-group">
                {{ form_label(form.username)}}
                {{ form_widget(form.username) }}
                </div>
                <div class="form-group">
                {{ form_widget(form.password) }}
                </div>
                <div class="form-group">
                {{ form_label(form.email)}}
                {{ form_widget(form.email) }}
                </div>
                <div class="form-group">
                {{ form_label(form.role) }}
                {{ form_widget(form.role, {'value': role}) }}
                </div>

                {{ form_rest(form) }}
                <button type="submit" class="btn btn-success pull-right">Modifier</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
